<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Music Player</title>
    <link
      href="https://cdn.bootcdn.net/ajax/libs/ant-design-vue/1.7.8/antd.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.bootcdn.net/ajax/libs/aplayer/1.10.1/APlayer.min.css"
      rel="stylesheet"
    />
    <link href="index.css" rel="stylesheet" />
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/ant-design-vue/1.7.8/antd.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.3.6/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
  </head>
  <body>
    <div>
      <div id="app">
        <div class="top-wrapper">
          <a-input-group compact>
            <a-select
              v-model="params.service"
              :options="services"
              @change="onParamsChange"
            ></a-select>
            <a-input-search
              v-model="params.text"
              placeholder="搜索"
              enter-button
              @search="onParamsChange"
            ></a-input-search>
          </a-input-group>
        </div>
        <a-list
          :loading="loading"
          :data-source="dataSource"
          :pagination="dataSource.length ? pagination : false"
        >
          <a-list-item
            slot="renderItem"
            slot-scope="item, index"
            :class="[item.disabled ? 'list-item-disabled' : 'list-item-click']"
            @click="onItemClick(item)"
          >
            <a-list-item-meta>
              <a slot="title" :href="item.url" target="_blank" @click.stop>
                {{ item.songName.split('.')[0] }}
              </a>
              <a-avatar slot="avatar" :src="getSongCoverUrl(params.service, item)" />
            </a-list-item-meta>
            <a-button
              :disabled="item.disabled"
              :loading="downloadIndex === index && downloadLoading"
              type="primary"
              shape="circle"
              icon="download"
              @click.stop="onDownload(item, index)"
            />
          </a-list-item>
        </a-list>
      </div>
      <div id="aplayer"></div>
    </div>
    <script>
      Vue.use(antd)
      new Vue({
        data() {
          return {
            dataSource: [],
            loading: false,
            downloadLoading: false,
            downloadIndex: null,
            services: [
              {
                label: '咪咕',
                value: 'migu',
              },
              {
                label: '酷我',
                value: 'kuwo',
              },
              {
                label: '网易',
                value: 'wangyi',
              },
              {
                label: '酷狗',
                value: 'kugou',
              },
            ],
            params: {
              service: 'migu',
              pageNum: 1,
              text: '',
            },
            pagination: {
              current: 1,
              pageSize: 20,
              showLessItems: true,
              total: 0,
              onChange: (current) => {
                this.onParamsChange({ current })
              },
            },
            player: null,
          }
        },
        beforeDestroy() {
          this.player.destroy()
        },
        created() {
          this.player = new APlayer({
            container: document.getElementById('aplayer'),
            listMaxHeight: 450,
            listFolded: true,
            lrcType: 1,
            audio: [],
          })
        },
        methods: {
          async getDataSource() {
            this.loading = true
            this.player.list.clear()
            const { service } = this.params
            const {
              data: { searchSongs, totalSongCount },
            } = await axios
              .get('/search', {
                params: this.params,
              })
              .finally(() => (this.loading = false))
            const songList = searchSongs
              .filter(({ disabled }) => !disabled)
              .map(
                ({ id, DC_TARGETID, hash, songName, url, imgItems, hts_MVPIC, artists, lrc }) => {
                  const [name, artist] = songName.split('.')[0]?.split(' - ')
                  return {
                    name,
                    artist,
                    lrc,
                    url,
                    id: service === 'kuwo' ? DC_TARGETID : service === 'kugou' ? hash : id,
                    cover: this.getSongCoverUrl(service, { imgItems, hts_MVPIC, artists }),
                  }
                }
              )
            this.dataSource = searchSongs.map((song) => {
              song.name = song.songName.split('.')[0]
              return song
            })
            this.pagination.total = ~~totalSongCount
            songList.length && this.player.list.add(songList)
          },
          getSongCoverUrl(service, item) {
            switch (service) {
              case 'migu':
                return item.imgItems && item.imgItems[0]?.img
              case 'kuwo':
                return item.hts_MVPIC
              case 'wangyi':
                return item.artists && item.artists[0]?.img1v1Url
              default:
                return ''
            }
          },
          onParamsChange({ current }) {
            this.params.pageNum = current ?? 1
            this.pagination.current = current ?? 1
            this.getDataSource()
          },
          onItemClick({ id: songId, DC_TARGETID, hash }) {
            const index = this.player.list.audios.findIndex(
              ({ id }) => id === (songId ?? DC_TARGETID ?? hash)
            )
            this.player.list.switch(index)
            this.player.play()
          },
          async onDownload(item, i) {
            this.downloadLoading = true
            this.downloadIndex = this.dataSource.findIndex((_, index) => index === i)
            const { data } = await axios
              .get(`/download?url=${item.url}`, {
                responseType: 'blob',
              })
              .finally(() => {
                this.downloadLoading = false
                this.downloadIndex = null
              })
            download(data, item.songName)
          },
        },
      }).$mount('#app')
    </script>
  </body>
</html>
