<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/ant-design-vue@1.7.8/dist/antd.min.css" />
    <script src="//cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="//cdn.jsdelivr.net/npm/ant-design-vue@1.7.8/dist/antd.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/axios@1.3.4/dist/axios.min.js"></script>
    <style>
      #app {
        padding: 20px 20px 0px 20px;
      }
      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
      }
      .anticon-left,
      .anticon-right {
        margin-top: 30%;
      }
      .ant-input-group-compact {
        text-align: right;
      }
      .ant-input-search-button {
        padding: 0 12px;
      }
      .anticon-caret-right {
        font-size: 18px;
        padding-left: 8%;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="top">
        <a-button
          style="padding: 0 10px"
          type="primary"
          :disabled="!selectedRowKeys.length"
          :loading="downLoading"
          @click="onDownload"
        >
          {{downLoading ? "下载ing" : "下载"}}
        </a-button>
        <div>
          <a-input-group compact>
            <a-select v-model="mode" :options="modes"></a-select>
            <a-select
              v-model="params.service"
              :options="services"
              @change="onParamsChange"
            ></a-select>
            <a-input-search
              v-model="params.text"
              placeholder="搜索"
              style="width: 48%; text-align: left"
              enter-button
              @search="onParamsChange"
            ></a-input-search>
          </a-input-group>
        </div>
      </div>
      <a-table
        bordered
        :loading="loading"
        :row-selection="rowSelection"
        :scroll="{ y: scrollHeight }"
        :columns="columns"
        :data-source="dataSource"
        :pagination="pagination"
        @change="onParamsChange"
        :row-key="({songName, url, disabled, index}) => disabled ? index : `${songName}+${url}`"
      >
        <template slot="action" slot-scope="text, record, index">
          <a-button
            :disabled="record.disabled"
            type="primary"
            shape="circle"
            :icon="playIndex === index ? 'pause' : 'caret-right'"
            @click="onButtonClick(record, index)"
          />
        </template>
      </a-table>
      <audio ref="audioPlay" :controls="false" :src="voiceUrl" @ended="onAudioPlayEnd" />
    </div>
    <script>
      Vue.use(antd)
      new Vue({
        data() {
          return {
            dataSource: [],
            loading: false,
            downLoading: false,
            scrollHeight: window.innerHeight - 195,
            services: [
              {
                label: '咪咕',
                value: 'migu',
              },
              {
                label: '酷我',
                value: 'kuwo',
              },
              {
                label: '网易',
                value: 'wangyi',
              },
              {
                label: '酷狗',
                value: 'kugou',
              },
            ],
            modes: [
              {
                label: '循环',
                value: 'cycle',
              },
              {
                label: '单曲',
                value: 'single',
              },
              {
                label: '随机',
                value: 'random',
              },
            ],
            mode: 'cycle',
            params: {
              service: 'migu',
              pageNum: 1,
              text: '',
            },
            columns: [
              {
                title: '歌曲名称',
                dataIndex: 'songName',
                width: '75%',
              },
              {
                title: '播放',
                dataIndex: 'action',
                scopedSlots: {
                  customRender: 'action',
                },
                width: '25%',
              },
            ],
            pagination: {
              current: 1,
              pageSize: 20,
              showLessItems: true,
              total: 0,
            },
            selectedRowKeys: [],
            playIndex: null,
            voiceUrl: '',
          }
        },
        computed: {
          rowSelection() {
            return {
              selectedRowKeys: this.selectedRowKeys,
              onChange: (selectedRowKeys) => {
                this.selectedRowKeys = selectedRowKeys
              },
              getCheckboxProps: (record) => ({
                props: {
                  disabled: record.disabled,
                },
              }),
            }
          },
        },
        methods: {
          async getDataSource() {
            this.loading = true
            this.selectedRowKeys = []
            this.playIndex = null
            this.voiceUrl = ''
            this.$nextTick(() => this.$refs.audioPlay.pause())
            const res = await axios
              .get('/search', {
                params: this.params,
              })
              .finally(() => (this.loading = false))
            const { searchSongs, totalSongCount } = res.data
            this.dataSource = searchSongs
            this.pagination.total = ~~totalSongCount
          },
          onParamsChange({ current }) {
            this.params.pageNum = current ?? 1
            this.pagination.current = current ?? 1
            this.getDataSource()
          },
          onAudioPlayEnd() {
            if (this.mode === 'cycle') {
              let selectedOption
              while (!selectedOption || selectedOption.disabled) {
                this.playIndex =
                  (this.playIndex + 1 + this.dataSource.length) % this.dataSource.length
                selectedOption = this.dataSource[this.playIndex]
              }
              this.voiceUrl = selectedOption.url
              this.$nextTick(() => this.$refs.audioPlay.play())
              return
            } else if (this.mode === 'random') {
              const nonDisabledIndexList = this.dataSource
                .map((data, index) => (data.disabled ? null : index))
                .filter((data) => data !== null)
              this.playIndex =
                nonDisabledIndexList[Math.floor(Math.random() * nonDisabledIndexList.length)]
              const selectedOption = this.dataSource[this.playIndex]
              this.voiceUrl = selectedOption.url
              this.$nextTick(() => this.$refs.audioPlay.play())
              return
            }
            this.$nextTick(() => this.$refs.audioPlay.play())
          },
          onButtonClick({ songName, url }, index) {
            if (this.playIndex === index) {
              this.$nextTick(() => this.$refs.audioPlay.pause())
              this.playIndex = null
              return
            }
            this.playIndex = index
            this.voiceUrl = url
            this.$nextTick(() => this.$refs.audioPlay.play())
          },
          onDownload() {
            this.downLoading = true
            Promise.all(
              this.selectedRowKeys.map(async (key) => {
                const [songName, url] = key.split('+')
                const { data } = await axios.get(`/download?url=${url}`, {
                  responseType: 'blob',
                })
                saveAs(data, songName)
              })
            ).finally(() => (this.downLoading = false))
          },
        },
      }).$mount('#app')
    </script>
  </body>
</html>
