{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "prefer-const": "error",
    "camelcase": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "no-shadow": "off",
    "no-console": "off",
    "no-await-in-loop": "off",
    "import/extensions": "off",
    "no-restricted-syntax": "off",
    "no-param-reassign": "off",
    "no-useless-escape": "off",
    "no-plusplus": "off",
    "one-var": "off"
  }
}
