{
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "es2021": true
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    "project": "tsconfig.json",
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "rules": {
    "prefer-const": "error",
    "camelcase": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "no-shadow": "off",
    "no-console": "off",
    "no-await-in-loop": "off",
    "import/extensions": "off",
    "no-restricted-syntax": "off",
    "no-param-reassign": "off",
    "no-useless-escape": "off",
    "no-plusplus": "off",
    "one-var": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
